html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

webview {
    height: 100%;
}

#progress {
    background: #3498db;
    bottom: 0;
    height: 5px;
    left: 0;
    position: absolute;
    width: 100%;
}