html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

webview {
    height: 100%;
}

#progress {
    background: #3498db;
    top: 0;
    height: 5px;
    left: 0;
    position: absolute;
    width: 100%;
}

#preview-mode {
    background: #3498db;
    border: 0;
    color: #fff;
    display: none;
    text-transform: uppercase;
    padding: 12px 0;
    top: 0;
    width: 100%;
}